---
const { source, className } = Astro.props;

import {
  IoLogoBehance,
  IoLogoBitbucket,
  IoLogoDiscord,
  IoLogoDribbble,
  IoLogoFacebook,
  IoLogoGithub,
  IoLogoGitlab,
  IoLogoInstagram,
  IoLogoLinkedin,
  IoLogoMedium,
  IoLogoReddit,
  IoLogoTwitter,
  IoLogoYoutube,
  IoMail,
  IoGlobeOutline,
} from "react-icons/io5";

const {
  facebook,
  twitter,
  instagram,
  youtube,
  linkedin,
  github,
  gitlab,
  discord,
  medium,
  bitbucket,
  dribbble,
  behance,
  reddit,
  email,
  phone,
  website,
} = source;
---

<ul class={className}>
  {
    facebook && (
      <li class="inline-block">
        <a
          aria-label="facebook"
          href={facebook}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoFacebook />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter />
        </a>
      </li>
    )
  }
  {
    instagram && (
      <li class="inline-block">
        <a
          aria-label="instagram"
          href={instagram}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoInstagram />
        </a>
      </li>
    )
  }
  {
    youtube && (
      <li class="inline-block">
        <a
          aria-label="youtube"
          href={youtube}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoYoutube />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoLinkedin />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
  {
    gitlab && (
      <li class="inline-block">
        <a
          aria-label="gitlab"
          href={gitlab}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGitlab />
        </a>
      </li>
    )
  }
  {
    discord && (
      <li class="inline-block">
        <a
          aria-label="discord"
          href={discord}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoDiscord />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMedium />
        </a>
      </li>
    )
  }
  {
    bitbucket && (
      <li class="inline-block">
        <a
          aria-label="bitbucket"
          href={bitbucket}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoBitbucket />
        </a>
      </li>
    )
  }
  {
    dribbble && (
      <li class="inline-block">
        <a
          aria-label="dribbble"
          href={dribbble}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoDribbble />
        </a>
      </li>
    )
  }
  {
    behance && (
      <li class="inline-block">
        <a
          aria-label="behance"
          href={behance}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoBehance />
        </a>
      </li>
    )
  }
  {
    reddit && (
      <li class="inline-block">
        <a
          aria-label="reddit"
          href={reddit}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoReddit />
        </a>
      </li>
    )
  }
  {
    website && (
      <li class="inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoGlobeOutline />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="inline-block">
        <a aria-label="email" href={`mailto:${email}`}>
          <IoMail />
        </a>
      </li>
    )
  }
</ul>
